Source: libapp-get-flash-videos-perl
Section: utils
Priority: optional
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libmodule-find-perl,
  libtie-ixhash-perl,
  liburi-perl,
  libwww-mechanize-perl,
  libwww-perl,
  libxml-simple-perl,
  perl
Maintainer: Monsieur Video <monsieurvideo@gmail.com>
Standards-Version: 3.8.3
Homepage: http://code.google.com/p/get-flash-videos/

Package: get-flash-videos
Architecture: all
Depends: libcrypt-blowfish-pp-perl,
  libdata-amf-perl,
  libencode-locale-perl,
  libhtml-parser-perl,
  libhtml-tree-perl,
  libmodule-find-perl,
  libtie-ixhash-perl,
  liburi-perl,
  libwww-mechanize-perl,
  libwww-perl,
  ${misc:Depends},
  ${perl:Depends}
Recommends: get-iplayer,
  ffmpeg | libav-tools,
  libcrypt-rijndael-perl,
  liblwp-protocol-socks-perl,
  libxml-simple-perl,
  rtmpdump|flvstreamer
Suggests: mplayer
Description: Video downloader for various Flash-based video hosting sites
  Download videos from various Flash-based video hosting sites, without having
  to use the Flash player. Handy for saving viqeos for watching offline, and
  means you don't have to keep upgrading Flash for sites that insist on a newer
  version of the player.
